@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}

.l{
  color: black;
  font-size: 25px;
  text-align: center;
  }

.boton{
  font-size: 30px;
    color: white;
    background-color: lightgreen;
    border-radius: 6px;
    border: 2px solid ;
    width:160px;
       height:80px;
}

.boton:hover{
  background-color: green;
}
